.navbar {
    background-color: #232329; 
    color: #fefefe; 
}
.color-letra-navbar {
    color: #fefefe;
}
.color-letra-navbar:hover {
    color: #5cd2c6;
}
.bg-header {
    background-color: #282f44;
}